# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# VSCode
.vscode/

# macOS/Linux
.DS_Store
*.swp

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# dotenv
.env
.env.*

# Test/coverage
coverage/
*.cover
*.log

# Docker
*.pid

# AWS credentials (falls versehentlich)
.aws/.venv
